<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ToolV2</title>
<link rel="stylesheet" href="icon/css/font-awesome.min.css">
<style type="text/css">
* {
margin:0;
padding:0;
}
html {
/*overflow-x:hidden;*/
}
body {
height:100%;
}
#navbar{
	height: 30px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #cee0c8;
}
.navOption{
	width: 20%;
	padding-top: 5px;
	text-align: center;
	color: #468ca5;
	float: left;
	font-size: 18px;
}
.navOption:hover{
	width: 20%;
	padding-top: 3px;
	text-align: center;
	color: #41434f;
	float: left;
	font-size: 21px;
}
#wrap {
	padding-top: 35px;
	min-height:calc(100%-30px);
	width:100%;
}
#one{
		width:100%;
		padding-right: 10px;
		padding-left: 10px;
		left: 0%;
		float:left;
		overflow: auto;
		overflow-y:scroll;
		position: fixed;
         -webkit-transition: all 0.25s ease-out 0;
         -moz-transition: all 0.25s ease-out 0;
         transition: all 0.25s;
}
#two, #three, #four, #five {
		width:100%;
		height: 100%;
		overflow: auto;
		overflow-y:scroll;
		padding-right: 10px;
		padding-left: 10px;
		padding-bottom: 10px;
		left:100%;
		position: fixed;
		float:left;
         -webkit-transition: all 0.25s ease-out 0;
         -moz-transition: all 0.25s ease-out 0;
         transition: all 0.25s;
}

</style>
<script type="text/javascript">
  	function home() {
            document.getElementById("one").style.left="0%";
            document.getElementById("two").style.left="100%";
            document.getElementById("three").style.left="100%";
            document.getElementById("four").style.left="100%";
            document.getElementById("five").style.left="100%";
    };
    function upload() {
            document.getElementById("one").style.left="-100%";
            document.getElementById("two").style.left="0%";
            document.getElementById("three").style.left="100%";
            document.getElementById("four").style.left="100%";
            document.getElementById("five").style.left="100%";
    };
        function eda() {
            document.getElementById("one").style.left="-100%";
            document.getElementById("two").style.left="-100%";
            document.getElementById("three").style.left="0%";
            document.getElementById("four").style.left="100%";
            document.getElementById("five").style.left="100%";
    };
        function variab() {
            document.getElementById("one").style.left="-100%";
            document.getElementById("two").style.left="-100%";
            document.getElementById("three").style.left="-100%";
            document.getElementById("four").style.left="0%";
            document.getElementById("five").style.left="100%";
    };
        function model() {
            document.getElementById("one").style.left="-100%";
            document.getElementById("two").style.left="-100%";
            document.getElementById("three").style.left="-100%";
            document.getElementById("four").style.left="-100%";
            document.getElementById("five").style.left="0%";
    };
</script>
</head>
<body>
<div id="navbar">
	<a href="#" onclick='return home()'>
	<div class="navOption">
	<i class="fa fa-home" aria-hidden="true"></i>
	</div>
	</a>
	<a href="#" onclick='return upload()'>
	<div class="navOption">
	<i class="fa fa-upload" aria-hidden="true"></i>
	</div>
	</a>
	<a href="#three" onclick='return eda()'>
	<div class="navOption">
	<i class="fa fa-bar-chart" aria-hidden="true"></i>
	</div>
	</a>
	<a href="#four" onclick='return variab()'>
	<div class="navOption">
	<i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
	</div>
	</a>
	<a href="#five" onclick='return model()'>
	<div class="navOption">
	<i class="fa fa-flag-checkered" aria-hidden="true"></i>
	</div>
	</a>
</div>
<div id="wrap">
	<div id="one"><p>ONE</p>
	</div>
	<div id="two">
		<div style="width: 30%; float: left; padding-right: 5px;">
		{{
		             fileInput("file1", "Choose CSV File",
                       accept = c(
                         "text/csv",
                         "text/comma-separated-values,text/plain",
                         ".csv")
             )
         }}
         {{
             checkboxInput("header", "Header", TRUE)
         }}
         {{
             tags$hr()
         }}
         {{
         uiOutput("columnRemove")
         }}
         {{
         actionButton("rmColSubmit","Remove Columns",icon=icon("scissors"))
         }}
         {{
         actionButton("rmColRevert","Undo",icon=icon("undo"))
         }}
         {{
         downloadButton('downloadProcess', 'Download')
         }}
         {{
         checkboxInput("changeDataType","Change data type of the columns", value = FALSE)
         }}
         {{
         uiOutput("dataFormat")
         }}
         {{
         checkboxInput("addAColumn","Create a new column", value = FALSE)
         }}
         {{
         uiOutput("addColumn")
         }}
         {{
         checkboxInput("sortTable","Sort data", value = FALSE)
         }}
         {{
         uiOutput("sortInput")
         }}
		</div>
		<div style="width: 70%; float: left; padding-left: 10px; overflow-x:scroll;">
		<h4><strong>Data View</strong></h4>
		{{uiOutput("sampleUpload")}}

		 {{
         checkboxInput("sampleView","View Complete Table", value = FALSE)
         }}


		</br>
		{{uiOutput("summaryView")}}
		</div>
	</div>
	<div id="three"><p>THREE</p>
	</div>
	<div id="four"><p>FOUR</p>
	</div>
	<div id="five"><p>FIVE</p>
	</div>
</div>

</body>
</html>